Strips for <b>{{user.name}}<b/>, {{folder}}<br />
<a href="?user={{user.name}}&amp;date={{yesterday}}">Previous day</a><br />
{% if now != today %}
<a href="?user={{user.name}}&amp;date={{tomorrow}}">Next day</a><br />
{% endif %}

{% for strip in strips.values %}
    <h3>
        {% if strip.homepage != "" %}
            <a href="{{strip.homepage}}">{{strip.desc}}</a>
        {% else %}
            {{ strip.desc }}
        {% endif %}
    </h3>
    {% for key, value in strip.items %}
        {% if "error" in key and strip.onlyerror %}
            {{ value }}
        {% else %}
            <img src="/comics/{{key}}" width="{{value.width}}" height="{{value.height}}"/><br />
        {% endif %}
    {% endfor %}
{% endfor %}